<div class="join-event-wrapper">
  <div class="heading">
    <h2 class="heding__text">イベントに参加</h2>
  </div>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="form__name">
      <input
        type="text"
        matInput
        placeholder="イベント名"
        formControlName="eventName"
        #eventName
        autocomplete="off"
        required
        matTextareaAutosize
      />
      <mat-error *ngIf="form.controls['eventName'].hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="form.controls['eventName'].hasError('maxlength')"
        >最大文字数を超えています</mat-error
      >
      <mat-hint align="end"
        >{{ eventName.value.length }} /
        {{ MAX_EVENT_NAME_LENGTH }}文字</mat-hint
      >
    </mat-form-field>

    <mat-form-field class="form__password">
      <input
        type="password"
        matInput
        placeholder="パスワード"
        formControlName="password"
        #password
        autocomplete="off"
        required
      />
      <mat-error *ngIf="form.controls['eventName'].hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button
        class="form__submit"
        type="submit"
        [mat-dialog-close]="true"
        [disabled]="form.invalid || form.pristine || isProcessing"
      >
        参加
      </button>
      <button mat-button matDialogClose type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>
  </form>
</div>
