@import 'variables';

.dialog {
  padding: 24px 0 0;
  &__header {
    text-align: center;
  }
  &__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f34336;
    color: #fff;
    display: grid;
    place-content: center;
    margin: 0 auto 24px;
  }
  &__title {
    font-weight: bold;
    margin: 0;
  }
  &__content {
    text-align: center;
    padding: 24px;
  }
  &__actions {
    display: grid;
    gap: 8px;
    background: #eee;
    padding: 16px;
    button {
      width: 100%;
    }
  }
}
