<header class="header">
  <h1 class="header__logo">
    <a href="" class="header__logo-link"
      ><img src="./assets/images/favicon.svg" alt="" />Instacircle</a
    >
  </h1>
  <ng-container *ngIf="authService.user$ | async as user; else default">
    <ng-container *ngIf="event$ | async as event">
      <button
        class="header__add-btn"
        [routerLink]="'/event/' + event.eventId + '/post-images'"
      >
        <mat-icon>add</mat-icon> 画像を投稿する
      </button>
    </ng-container>
    <button
      mat-mini-fab
      [matMenuTriggerFor]="userMenu"
      [style.background-image]="'url(' + user?.avatarURL + ')'"
      class="header__icon"
    ></button>
    <mat-menu #userMenu="matMenu" class="header__menu">
      <a mat-menu-item routerLink="/">
        <mat-icon>create</mat-icon>
        <span>イベントを作る</span>
      </a>
      <a mat-menu-item (click)="openJoinEventDialog()">
        <mat-icon>group</mat-icon>
        <span>イベントに参加する</span>
      </a>
      <a mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #default>
    <button
      class="header__login"
      (click)="authService.googlelogin()"
      matTooltip="Googleアカウントでサインイン"
    >
      サインイン
    </button>
  </ng-template>
</header>
