@import 'variables';
@import 'mixins';
@import '~@angular/material/theming';

figure {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  min-height: 56px;
  background-color: #fff;
  z-index: 1000;
}

.conatainer {
  background: radial-gradient(#fd796f10 30%, #fff);
}
.thumbnail {
  padding: 0 32px;
  margin-bottom: 40px;
  img {
    border-radius: 3px;
    box-shadow: 28px 38px 48px rgba(126, 126, 126, 0.5);
  }
}

@include sp {
  .comment {
    &__list {
      padding: 8px 32px;
    }
    &__form {
      position: fixed;
      z-index: 10;
      bottom: 0;
      width: 100%;
      background: radial-gradient(rgb(255, 245, 245), rgba(255, 255, 255, 0.9));
    }
  }
}

@include pc {
  header {
    padding-left: 32px;
  }
  .conatainer {
    padding: 32px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 376px;
    grid-template-rows: 64px auto;
    margin-bottom: 48px;
  }
  .thumbnail {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0 auto;
    padding-right: 56px;
    img {
      max-height: 600px;
      min-width: 320px;
      box-shadow: 28px 48px 48px rgba(126, 126, 126, 0.5);
    }
  }
  .comment {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    &__list {
      max-height: calc(100vh - 262px);
      overflow-y: scroll;
    }
  }
}
