@import 'variables';
@import 'mixins';

.image-list {
  padding-top: 40px;
  padding-bottom: 120px;
  &__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    @include pc {
      gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__item {
    &:nth-of-type(even) {
      transform: translateY(60px);
      @include pc {
        transform: none;
      }
    }
    &:nth-of-type(3n + 2) {
      @include pc {
        transform: translateY(80px);
      }
    }
    &:nth-of-type(3n) {
      @include pc {
        transform: translateY(40px);
      }
    }
  }
  &__blank {
    display: block;
    padding: 80px 16px;
    background-color: $color-base;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.6;
    }
  }
}
