figure {
  margin: 0;
  padding: 0;
}
.comment {
  padding: 8px 0;
  display: grid;
  gap: 8px;
  grid-template-columns: 40px 1fr 40px;
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: center/cover rgba(0, 0, 0, 0.5);
  }
  &__name {
    line-height: 1;
    margin-right: 8px;
  }
}
