<ng-container *ngFor="let comment of comments$ | async">
  <div class="comment">
    <figure
      class="comment__avatar"
      [style.background-image]="'url(' + comment.user.avatarURL + ')'"
    ></figure>
    <div class="comment__body">
      <p class="comment__body">
        <span class="comment__name">
          {{ comment.user.name }}
        </span>
        {{ comment.commentBody }}
      </p>
      <p class="comment__date">
        {{ comment.createdAt.toDate() | date: 'M/d HH:mm' }}
      </p>
    </div>
    <div>
      <button
        mat-icon-button
        [mat-menu-trigger-for]="commentEditor"
        type="button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #commentEditor="matMenu">
        <button
          mat-menu-item
          type="button"
          (click)="deleteComment(comment.commentId)"
        >
          <mat-icon>delete</mat-icon>
          削除
        </button>
      </mat-menu>
    </div>
  </div>
</ng-container>
