<div class="edit">
  <div class="container">
    <div class="edit__box">
      <h1 class="edit__title">イベント編集</h1>
      <form [formGroup]="form" (ngSubmit)="updateEventData()">
        <mat-form-field>
          <mat-label>イベント名</mat-label>
          <input
            matInput
            autocomplete="off"
            formControlName="title"
            [maxlength]="titleMaxLength"
            required
          />
          <mat-hint align="end"
            >{{ form.get('title').value.length }} /
            {{ titleMaxLength }}</mat-hint
          >
          <mat-error *ngIf="form.get('title').hasError('maxlength')"
            >最大{{ titleMaxLength }}文字です。</mat-error
          >
          <mat-error *ngIf="form.get('title').hasError('required')">
            必須入力です。
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>メッセージ本文</mat-label>
          <textarea
            matInput
            autocomplete="off"
            formControlName="descliption"
            rows="4"
            [maxlength]="descliptionMaxLength"
            required
          ></textarea>
          <mat-hint align="end"
            >{{ form.get('descliption').value.length }} /
            {{ descliptionMaxLength }}</mat-hint
          >
          <mat-error *ngIf="form.get('descliption').hasError('maxlength')"
            >最大{{ descliptionMaxLength }}文字です。</mat-error
          >
          <mat-error *ngIf="form.get('descliption').hasError('required')">
            必須入力です。
          </mat-error>
        </mat-form-field>
        <div class="edit__cropper" *ngIf="oldImageUrl">
          <deer-crop-trigger
            [options]="{
              aspectRatio: 1 / 1,
              oldImageUrl: oldImageUrl
            }"
            (image)="onCroppedImage($event)"
          ></deer-crop-trigger>
        </div>
        <div class="edit__actions">
          <button
            type="button"
            class="edit__update-btn"
            (click)="updateEventData()"
            [disabled]="processing"
          >
            更新
          </button>
          <a routerLink="/event/{{ eventId }}/" class="edit__cancel-btn"
            >キャンセル</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
