<div
  class="bottom-actions"
  [class.bottom-actions--home-style]="
    type.eventsStyle && !type.addImageStyle && !type.sharedUrlStyle
  "
>
  <button
    mat-ripple
    mat-button
    class="bottom-actions__join-event"
    (click)="openJoinEventDialog()"
  >
    <mat-icon>person_add</mat-icon>
    <p>イベント参加</p>
  </button>
  <button
    mat-ripple
    class="bottom-actions__create-event"
    (click)="openCreateEventDialog()"
  >
    <mat-icon>assignment_ind</mat-icon>
    <p>イベント作成</p>
  </button>
  <button
    mat-ripple
    class="bottom-actions__add-image"
    [class.bottom-actions-disabled]="!type.addImageStyle"
  >
    <mat-icon>add_photo_alternate</mat-icon>
    <p>画像を投稿</p>
  </button>
  <button
    [cdkCopyToClipboard]="eventUrl"
    (click)="copyToEventUrl()"
    mat-ripple
    class="bottom-actions__shared-url"
    [class.bottom-actions-disabled]="!type.addImageStyle"
  >
    <mat-icon>content_paste</mat-icon>
    <p>URLを共有</p>
  </button>
</div>
