<div class="welcome">
  <div
    class="welcome__image"
    [style.background-image]="'url(/assets/images/welcome/welcome-first.png)'"
  >
    <div class="container">
      <div class="welcome__contents">
        <p class="welcome__title">instacircle</p>
        <p class="welcome__text">大切な人との大事な時間を残す</p>
        <p class="welcome__sub-title">家族や仲間と共有</p>
        <div class="actions">
          <button
            class="actions__sign-up-btn"
            (click)="authService.googlelogin()"
          >
            今すぐはじめる
          </button>
          <button
            class="actions__sign-in-btn"
            (click)="authService.googlelogin()"
          >
            サインイン
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
