@import 'variables';
@import 'mixins';

.actions {
  display: flex;
  flex-direction: column;
  button {
    padding: 14px 24px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 41px;
    outline: none;
    @include sp-small {
      font-size: 14px;
    }
  }
  &__sign-up-btn {
    background-color: $color-accent;
    margin-bottom: 24px;
  }
  &__sign-in-btn {
    background-color: $color-main;
  }
}

.welcome {
  text-align: center;
  &__image {
    height: 100vh;
    background: #fff center/cover no-repeat;
    display: flex;
    align-items: center;
  }
  &__contents {
    max-width: 320px;
    margin: 0 auto;
    @include pc {
      margin-left: 50%;
    }
    @include sp-small {
      max-width: 240px;
    }
  }
  &__title {
    color: $color-font;
    font-size: 38px;
    margin-bottom: 56px;
  }
  &__text {
    color: $color-font;
    font-size: 16px;
    margin-bottom: 56px;
  }
  &__sub-title {
    color: $color-font;
    font-size: 24px;
    margin-bottom: 104px;
  }
}
