@import 'variables';

* {
  box-sizing: border-box;
}

.create-event-wrapper {
  width: 100%;
  height: 100%;
  background: url(/assets/images/join-event.png) no-repeat center/cover;
  padding: 80px 0;
}

.heading {
  text-align: center;
  width: 80%;
  padding: 16px 24px;
  margin: 0 auto;
  &__text {
    color: #fff;
    font-weight: 600;
  }
}

.form {
  text-align: center;
  padding: 24px;
  width: 100%;
  &__title {
    width: 100%;
    padding: 8px 16px;
    background: #eee;
    border-radius: 6px;
    opacity: 0.6;
    margin: 0 auto 32px;
  }
  &__descliption {
    width: 100%;
    padding: 8px 16px;
    background: #eee;
    border-radius: 6px;
    opacity: 0.6;
    margin: 0 auto 32px;
  }
  &__password {
    width: 100%;
    padding: 8px 16px;
    background: #eee;
    border-radius: 6px;
    opacity: 0.6;
    margin: 0 auto 32px;
  }
  &__submit {
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    background: $color-accent;
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
    cursor: pointer;
  }
  &__cancel {
    width: 100%;
    padding: 8px 16px;
    color: #fff;
  }
  mat-form-feild {
    box-sizing: border-box;
  }
}
