<ng-container *ngIf="event$ | async; else blank">
  <div class="container">
    <input
      (change)="selectImages($event)"
      type="file"
      id="file"
      name="file"
      multiple
      accept=".png, .jpg, .jpeg"
    />

    <div *ngFor="let src of srcs">
      <img [src]="src" alt="" />
      <button (click)="openEditImageDialog()">編集</button>
    </div>

    <button (click)="uploadImages()">投稿</button>
  </div>
</ng-container>

<ng-template #blank>
  <div class="container">
    <div class="event__blank">
      <p>お探しのイベントは見つかりませんでした。</p>
      <p>イベントIDをご確認ください。</p>
      <a routerLink="/" class="event__top-btn">トップページへ戻る</a>
    </div>
  </div>
</ng-template>
