<ng-container *ngIf="event$ | async as event">
  <div class="event__head">
    <div class="container">
      <div class="event__inner">
        <div class="event__thumbnail">
          <img
            [src]="
              event.thumbnailURL
                ? event.thumbnailURL
                : 'assets/images/image-card-sample01.jpg'
            "
            alt=""
          />
        </div>
        <dl class="event__data">
          <dt class="event__title">{{ event.title }}</dt>
          <dd class="event__description">{{ event.descliption }}</dd>
          <dd class="event__users">
            <ul class="users">
              <li
                class="users__item"
                [style.background-image]="'url(' + ownerAvatarURL + ')'"
              ></li>
            </ul>
          </dd>
          <div class="event__share">
            <button
              class="event__share-btn"
              [cdkCopyToClipboard]="eventInvitateURL"
            >
              <mat-icon>content_copy</mat-icon>
              招待リンクをコピー
            </button>
          </div>
          <div class="event__actions" *ngIf="uid === event.ownerId">
            <button
              mat-icon-button
              aria-label="イベント設定"
              [matMenuTriggerFor]="eventMenu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #eventMenu="matMenu">
              <a mat-menu-item routerLink="/event/{{ eventId }}/edit/">
                <mat-icon>edit</mat-icon>
                <span>編集</span>
              </a>
              <button mat-menu-item (click)="openDeleteEventDialog()">
                <mat-icon>delete</mat-icon>
                <span>削除</span>
              </button>
            </mat-menu>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <app-image-list></app-image-list>
</ng-container>
