<div class="container">
  <div class="home-header">
    <div class="descriptions">
      <p class="descriptions__title">Instacircleについて</p>
      <p>家族や友達と画像を共有出来ます。</p>
      <p>
        イベントを作成してリンクをを共有したり、教えてもらったリンクに参加しましょう！
      </p>
    </div>
    <div class="actions">
      <button (click)="openJoinEventDialog()" class="actions__join-btn">
        イベント参加
      </button>
      <button (click)="openCreateEventDialog()" class="actions__create-btn">
        イベント作成
      </button>
    </div>
  </div>

  <mat-tab-group class="mat-tab" mat-align-tabs="center">
    <mat-tab label="主催イベント">
      <div class="mat-tab__card-layout">
        <app-event-list-card
          *ngFor="let event of myOwnedEvents$ | async as events"
          [event]="event"
          >{{ event | json }}</app-event-list-card
        >
      </div>
    </mat-tab>

    <mat-tab label="参加イベント">
      <div class="mat-tab__card-layout">
        <app-event-list-card
          *ngFor="let event of joinedEvents$ | async as events"
          [event]="event"
        ></app-event-list-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<app-bottom-actions
  [type]="{
    eventsStyle: true,
    addImageStyle: false,
    sharedUrlStyle: false
  }"
></app-bottom-actions>
