<div class="container">
  <mat-tab-group class="mat-tab" mat-align-tabs="center">
    <mat-tab label="主催イベント">
      <div class="mat-tab__card-layout">
        <app-event-list-card
          [event]="event"
          [eventJoinedLength]="eventJoinedLength"
        ></app-event-list-card>
        <app-event-list-card
          [event]="event"
          [eventJoinedLength]="eventJoinedLength"
        ></app-event-list-card>
      </div>
    </mat-tab>
    <mat-tab label="参加イベント">
      <div class="mat-tab__card-layout">
        <app-event-list-card
          [event]="event"
          [eventJoinedLength]="eventJoinedLength"
        ></app-event-list-card>
        <app-event-list-card
          [event]="event"
          [eventJoinedLength]="eventJoinedLength"
        ></app-event-list-card>
        <app-event-list-card
          [event]="event"
          [eventJoinedLength]="eventJoinedLength"
        ></app-event-list-card>
        <app-event-list-card
          [event]="event"
          [eventJoinedLength]="eventJoinedLength"
        ></app-event-list-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<button (click)="openJoinEventDialog()">イベントに参加する</button>
<button (click)="openCreateEventDialog()">イベントを作成する</button>
