@import 'variables';
@import 'mixins';
@import 'material-theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-default !important;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  outline: none;
  border: none;
  appearance: none;
}

.container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  @include pc {
    padding: 0 24px;
  }
}

.mat-tab-label {
  min-width: 50% !important;
  font-family: $font-default;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fa776d;
}

.mat-tab-body.mat-tab-body-active {
  height: 100vh;
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }
}

.mat-dialog-container {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  @include pc {
    width: 80% !important;
    height: 100% !important;
    margin: 0 auto;
    box-sizing: border-box !important;
  }
}

.image {
  border-radius: 8px;
  &:before {
    border-radius: 8px;
  }
  &:after {
    content: 'crop' !important;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
