@import 'variables';
@import 'mixins';
@import 'material-theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-default !important;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  outline: none;
}

.container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 16px;
  @include pc {
    padding: 0 24px;
  }
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

.mat-dialog-container {
  width: 100vh !important;
  height: 100vh !important;
  padding: 0 !important;
  @include pc {
    width: 80% !important;
    height: 100% !important;
    margin: 0 auto;
    box-sizing: border-box !important;
  }
}
