// サイトカラーの設定
$color-main: #f9cdad;
$color-accent: #fa776d;
$color-accent-1: #fa6b83;
$color-base: #f2f4f8;
$color-font: #707070;
$color-bg-gray: #757575;

// フォントの指定
$font-default: 'M PLUS Rounded 1c', sans-serif; // weight 400, 500, 700
$font-logo: 'Itim', cursive;
